<section class="row">
  <div class="col s6 offset-s3">
    <div class="container-miniature-item">
      <header>
        <h2 class="flow-text">{{miniature.name}}</h2>
      </header>
      <img src="/images/{{miniature.imageUrl}}" alt="{{miniature.name}}">
    </div>
  </div>
</section>

<section class="container-form update-miniature">
  <header>
    <h2 class="amber-text text-lighten-1">Update Miniature</h2>
  </header>
  <form action="/miniatures/{{miniature._id}}?_method=put" method="post">
    <label>Name
      <input type="text" name="updateMiniature[name]" value="{{miniature.name}}">
    </label>
    <label>Image Url
      <input type="text" name="updateMiniature[imageUrl]" value="{{miniature.imageUrl}}">
    </label>
    <button type="submit" class="waves-effect waves-light btn-large btn-flat">Update</button>
  </form>
</section>

<section class="container-form delete-miniature">
  <form action="/miniatures/{{miniature._id}}?_method=delete" method="post">
    <button type="submit" class="waves-effect waves-light btn-large btn-flat">Delete</button>
  </form>
</section>
